<main>
    <h1 class="titulo">Sintomas</h1>
    <p class="mp">O coronavírus (COVID-19) se caracteriza por sintomas leves, como dor de garganta, tosse e febre. A doença pode ser mais grave para algumas pessoas, causando pneumonia ou dificuldade para respirar.</p>
    <p class="mp">Em casos mais raros, ela pode ser fatal. Idosos e pessoas com outras condições médicas (como asma, diabetes e doença cardíaca) são mais vulneráveis a quadros graves.</p>
    <div class="l1">
        <ul>
            <h2 class="l1-ti">Possíveis sintomas:</h2>
            <li class="l1-itens">corisa</li>
            <li class="l1-itens">Tosse</li>
            <li class="l1-itens">Febre</li>
            <li class="l1-itens">Dificuldade para respirar (em casos graves)</li>
        </ul>
    </div>
    <div class="l2">
        <ul>
            <h2 class="l2-ti">Outros possíveis sintomas são:</h2>
            <li class="l2-itens">Cansaço</li>
            <li class="l2-itens"> Dor de garganta</li>
            <li class="l2-itens">Dores de cabeça e náuseas</li>
            <li class="l2-itens">Vômito e diarréia</li>
        </ul>
        <h3 class="fonte-li">Fonte: <a href="https://www.who.int/" target="_blank">Organização Mundial da Saúde</a></h3>
    </div>
    
    <div class="pic">
        <img src="../../../assets/_imagens/oioi.png" alt="lista de sintomas e comaparação entre coronavírus, gripe e resfriado">
        <h1 class="leg"><em>Tabela De Sintomas</em></h1>
        <h3 class="fontimg">Fonte: <a href="https://dasa.com.br/coronavirus"  target="_blank">Dasa</a></h3>
    </div>
    <h1 class="titulo">Tratamento</h1>
    <p class="mp">Não há nenhum medicamento específico para tratar ou prevenir o coronavírus (COVID-19). Algumas pessoas podem precisar da ajuda de aparelhos para respirar.</p>
    <P class="mp">Caso você esteja com febre e tosse, fique em casa até se recuperar e por pelo menos 14 dias para não transmitir a doença.</P>
    <div class="l3">
        <ul>
            <h2 class="l3-ti">Se você apresentar sintomas leves, fique em casa até se recuperar.<br> Para aliviar os sintomas:</h2>
            <li class="l3-itens">descanse e durma;</li>
            <li class="l3-itens">mantenha o corpo aquecido;</li>
            <li class="l3-itens">beba bastante líquido;</li>
            <li class="l3-itens">use um umidificador de ar ou tome um banho quente para aliviar a tosse e a dor de garganta.</li>
        </ul>
    </div> 
    <h3 class="fonte">Fonte: <a href="https://dasa.com.br/coronavirus"  target="_blank">Dasa</a></h3>
</main>
<app-footer></app-footer>