<main>
    <h1 class="titulo">O que é o Coronavírus?</h1>
    <p class="mp">A COVID-19 é uma doença causada pelo coronavírus SARS-CoV-2, que apresenta um quadro clínico que varia de infecções assintomáticas a quadros respiratórios graves. De acordo com a Organização Mundial de Saúde (OMS), a maioria dos pacientes com COVID-19 (cerca de 80%) podem ser assintomáticos e cerca de 20% dos casos podem requerer atendimento hospitalar por apresentarem dificuldade respiratória e desses casos aproximadamente 5% podem necessitar de suporte para o tratamento de insuficiência respiratória (suporte ventilatório).</p>
    <p class="mp">Coronavírus é uma família de vírus que causam infecções respiratórias. O novo agente do coronavírus foi descoberto em 31/12/19 após casos registrados na China. Provoca a doença chamada de coronavírus (COVID-19).</p>
    <div class="pic">
        <img src="../../../assets/_imagens/coronga.jpg" alt="vírus covid-19">
        <h1 class="leg"><em>Vírus COVID-19</em></h1>
        <h3 class="fontimg">Fonte: <a href="https://www.bbc.com/portuguese/internacional-51469829"  target="_blank">bbc</a></h3>
    </div>
    <p class="mp">Os primeiros coronavírus humanos foram isolados pela primeira vez em 1937. No entanto, foi em 1965 que o vírus foi descrito como coronavírus, em decorrência do perfil na microscopia, parecendo uma coroa.</p>
    <p class="mp">A maioria das pessoas se infecta com os coronavírus comuns ao longo da vida, sendo as crianças pequenas mais propensas a se infectarem com o tipo mais comum do vírus. Os coronavírus mais comuns que infectam humanos são o alpha coronavírus 229E e NL63 e beta coronavírus OC43, HKU1.</p>
    <h3 class="fonte">Fonte: <a href="https://coronavirus.saude.gov.br/"  target="_blank">coronavirus.saude</a></h3>
</main>
<app-footer></app-footer>