<main>
    <h1 class="titulo">Transmissão</h1>
    <p class="mp">A principal forma de transmissão do novo Coronavírus é entre pessoas. Por meio de espirros, tosses ou até mesmo a fala, pessoas infectadas expelem gotículas de saliva e secreções que contém o vírus. Essas pequenas gotas podem contaminar superfícies e objetos e, posteriormente, infectar pessoas que tocaram nesses locais e levaram as mãos aos olhos, nariz e boca.</p>
    <div class="pic">
        <div id="trans">
            <img class="timg" src="../../../assets/_imagens/sem-bloqueio.png" width="400px" height="347px" alt="transmissão sem bloqueio">
        </div>
            <div id="trans2">
            <img class="timg" src="../../../assets/_imagens/com-bloqueio.png" width="400px" height="347px" alt="transmissão com bloqueio">
        </div>
        <div id="trans3">
            <img class="timg2" src="../../../assets/_imagens/legenda.png" width="750px" height="120px" alt="legenda">
            <h3 class="fonte">Fonte: <a href="https://dasa.com.br/coronavirus" target="_blamk">Dasa</a></h3>
        </div>
    </div>
    <h1 class="titulo">Prevenção</h1>
    <p class="mp">Como o vírus é transmitido de pessoa para pessoa, o chamado distanciamento social é importante para desacelerar a proliferação do vírus. Evitar o contato com outras pessoas em lugares fechados ou aglomerados ajuda a frear a disseminação.</p>
    <p class="mp">Caso seja inevitável sair de casa, algumas medidas como não pegar transporte público em horário de pico, não cumprimentar com beijos, abraços ou apertos de mão, manter uma distância de pelo menos 2 metros das outras pessoas ajudam a diminuir a contaminação. Além disso, é importante evitar o contato com superfícies de locais públicos e lembrar de higienizar as mãos com álcool em gel logo após.</p>
    <div id="abc">
        <ul>
            <div class="pic2">
                <li class="abc-itens"><img src="../../../assets/_imagens/lavar-maos.png" width="130px" height="130px">
                    <h2 class="abc-ti">Lave as mãos ou use álcool em gel.</h2>
                </li>
            </div>
            <div class="pic2"><li class="abc-itens"><img src="../../../assets/_imagens/como-tossir.png" width="130px" height="130px">
                <h2 class="abc-ti">Cubra o nariz e boca ao espirrar ou tossir.</h2>
            </li>
            </div>
            <div class="pic2">
                <li class="abc-itens"><img src="../../../assets/_imagens/evite-pessoas.png" width="130px" height="130px">
                    <h2 class="abc-ti">Evite aglomerações se estiver doente.</h2>
                </li>
            </div>
            <div class="pic2">
                <li class="abc-itens"><img src="../../../assets/_imagens/ventilacao.png" width="130px" height="130px">
                    <h2 class="abc-ti">Ambientes bem ventilados.</h2>
                </li>
            </div>
            <div class="pic2">
                <li class="abc-itens"><img src="../../../assets/_imagens/objetos.png" width="130px" height="130px">
                    <h2 class="abc-ti">Não compartilhe objetos pessoais.</h2>
                </li>
            </div>
        </ul>
    </div>
    <h3 class="fonte">Fonte: <a href="https://coronavirus.saude.gov.br/"  target="_blank">coronavirus.saude</a></h3>
    <div class="pic3">
    <iframe width="390" height="320" src="https://www.youtube.com/embed/bPITHEiFWLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1 class="leg"><em>video explicativo de prevenção</em></h1>
    <h3 class="fontimg">Fonte: <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/videos" target="_blank">WHO</a></h3>
    </div>
    <p class="mp">O vídeo acima é um video em inglês que explica os cuidados básicos que se deve ter nesse momento de pandemia. Ele fala basicamente dos itens de prevenção listados posteriormente, higiene das mãos, cuidado ao tossir e espirrar, evitar aglomerações, etc. Além de de falar do importante uso da máscara e de que, caso você tenha sintomas, principalmente dificuldade de respirar, procurar um médico rapidamente.</p>
</main>
<app-footer></app-footer>