<main>
    <h1 class="titulo">Campanha Fique em Casa</h1>
    <p class="mp">A pandemia causada pela Covid-19, doença infecciosa causada pelo coronavírus Sars-Cov-2, chegou com força ao Brasil e obrigou as autoridades a tomar medidas drásticas para conter o avanço do surto. O governo brasileiro estima que – no mês de abril – haverá uma disparada de casos, sendo que a infecção causada pelo coronavírus deverá perder velocidade a partir de julho e, em agosto, é esperado que as ocorrências comecem a cair.</p>
    <p class="mp">Nesse contexto, a campanha surge para sensibilizar toda a população e comunidade escolar sobre a importância de seguir as orientações governamentais para reduzir os índices de infecção da doença, principalmente na população mais vulnerável. Assim então, as aulas nas instituições da Rede Federal foram suspensas e muitos pesquisadores entraram para os laboratórios para buscar uma solução para o problema.</p>
    <div class="pic">
        <img src="../../../assets/_imagens/fec.png" width="480px" height="150">
        <h1 class="leg">#FicaEmCasa</h1>
        <h3 class="fontimg">Fonte: <a href="http://dojeitode.blogspot.com/" target="_blamk">dojeitode</a></h3>
    </div>
    <p class="mp">A campanha #FicaEmCasa foi criada em função de promover a quarentena, fazendo com que as pessoas se conscientizem em momento delicado como o que vivemos atualmente, tendo em vista que o maior meio de propagação do vírus é o contato com outras pessoas, sendo indicado a quarentena para evitar aglomerações, além de outros modos de prevenção já citados nesse site.</p>
    <p class="mp">Além de tudo, o famoso pedido dos médicos não pode ser esquecido, com a frase "estamos aqui por você, fique em casa por nós!", sendo eles os quais mais estão lutando contra o novo covid, a nossa linha nesta batalha.</p>
    <div class="pic">
        <img src="../../../assets/_imagens/medicos.jpg" height="320px" width="450px">
        <h1 class="leg"><em>Médicos e sua mensagem ao mundo</em></h1>
        <h3 class="fontimg">Fonte: <a href="https://br.pinterest.com/furlao/blog-furl%C3%A3o/?autologin=true" target="_blamk">Pinterest</a></h3>
    </div>
    <p class="mp">Porém o apoio da campanha não parou somente nos médicos, grandes empresas também entraram nessa. Empresas como instagram, diversas companhias aérias, como a gol, incentivando os clientes a não viajarem. Devemos lembrar que mesmo caso não tivermos sintomas, devemos respeitar a quarentena e evitarmos o maximo de contato possivel, neste momento nos cabe ter empatía, paciência e esperanças.</p>
</main>
<app-footer></app-footer>