<main>
    <h1 class="titulo">Dados e Notícias</h1>
    <h1 class="sub-ti">Brasil - mais de 100 mil casos e recorde de mortos</h1>
    <h2 class="data"><em>dados do dia 05/05/2020</em></h2>
    <p class="mp">O Ministério da Saúde anunciou hoje que o Brasil registrou 7.921 mortes pelo novo coronavírus. Em 24 horas, o governo confirmou 600 mortes em decorrência da doença, maior número registrado no período desde o início da pandemia.</p>
    <p class="mp">No total, o país alcançou 114.715 casos oficiais, com 6.935 diagnósticos entre ontem e hoje, segundo os dados mais recentes da pasta. O secretário de Vigilância em Saúde do ministério, Wanderson Oliveira, disse que 100 mil testes ainda estão pendentes.</p>
    <h3 class="fonte">Fonte: <a href="https://noticias.uol.com.br/saude/ultimas-noticias/redacao/2020/05/05/coronavirus-covid19-casos-mortes-brasil-5-maio.htm" target="_blamk">UOL</a></h3>
    <div class="pic">
        <img src="../../../assets/_imagens/covid-tab4.jpg" width="440px" height="410px">
        <h1 class="leg"><em>Tabela de casos</em></h1>
        <h3 class="fontimg">Fonte: <a href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/05/05/brasil-tem-7921mortes-e-114715-casos-confirmados-de-novo-coronavirus-diz-ministerio.ghtml" target="_blamk">G1</a></h3>
    </div>

    <h1 class="sub-ti">Brasil registrou 40.581 e 2.575 mortes pela doeça</h1>
    <h2 class="data"><em>dados do dia 20/04/2020</em></h2>
    <p class="mp">O número de mortes por coronavírus subiu para 2.575, segundo informou hoje o Ministério da Saúde. Nas últimas 24 horas, foram 113 óbitos. Inicialmente, o Ministério da Saúde divulgou informações erradas sobre o número de mortos, registrando por engano 383 casos de ontem para hoje. Em seguida, corrigiu o dado.</p>
    <p class="mp">De acordo com o governo, o número total de infectados no país é de 40.581, com mais de 1.927 novos casos confirmados desde ontem. A taxa de letalidade, índice que relaciona os casos registrados e as mortes, é de 6,3%.</p>
    <h3 class="fonte">Fonte: <a href="https://noticias.uol.com.br/saude/ultimas-noticias/redacao/2020/04/20/balanco-atualizado-casos-coronavirus-20-abril-ministerio-saude.htm?cmpid=copiaecola" target="_blamk">UOL</a></h3>
    <div class="pic">
        <img src="../../../assets/_imagens/covid-tab3.jpeg" width="420px" height="420px">
        <h1 class="leg"><em>Tabela de casos</em></h1>
        <h3 class="fontimg">Fonte: <a href="https://noticias.r7.com/saude/brasil-tem-quase-23-mil-pessoas-curadas-da-covid-19-diz-ministerio-21042020" target="_blamk">R7</a></h3>
    </div>

    <h1 class="sub-ti">Brasil registrou 11.130 infectados e 359 mortes</h1>
    <h2 class="data"><em>dados do dia 04/04/2020</em></h2>
    <p class="mp">O Brasil registrou 359 mortes pelo novo coronavírus e 11.130 infectados até esta sexta-feira, informou o Ministério da Saúde. O índice de letalidade é de 4%, sendo que o Sudeste concentra 62% dos casos de Covid-19. Também nesta sexta, pesquisa Datafolha apontou que disparou a aprovação do ministro da Saúde, Luiz Henrique Mandetta, pela condução da crise nas últimas duas semanas.</p>
    <p class="mp">Segundo o levantamento, a avaliação positiva à pasta dirigida pelo ministrou saltou de 55% em 20 de março para 76% neste início de abril. Já a do presidente Jair Bolsonaro ficou estável na margem de erro (passou de 35% para 33%), mas sua reprovação subiu e alcançou 39%. Na manhã de sexta, o presidente voltou a criticar as medidas de distanciamento defendidas pelo Ministério da Saúde. “A nação só vai ficar livre dessa pandemia quando 70% for infectado e criar anticorpos”, afirmou, contrariando o consenso da comunidade científica.</p>
    <h3 class="fonte">Fonte: <a href="https://brasil.elpais.com/brasil/2020-04-04/ultimas-noticias-sobre-o-coronavirus-no-brasil-e-no-mundo.html" target="_blank">brasil.elpais</a></h3>
    <div class="pic">
        <img src="../../../assets/_imagens/covid-tab2.jpg" width="440px" height="410px">
        <h1 class="leg"><em>Tabela de casos</em></h1>
        <h3 class="fontimg">Fonte: <a href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/03/30/brasil-tem-159-mortes-e-4579-casos-confirmados-de-coronavirus-diz-ministerio.ghtml" target="_blamk">G1</a></h3>
    </div>

    <h1 class="sub-ti">Brasil registra 4.579 infectados e 136 mortes</h1>
    <h2 class="data"><em>Dados do dia 30/03/2020</em></h2>
    <p class="mp">O Brasil registrou 4.579 casos confirmados de coronavírus. De acordo com as informações repassadas pelas Secretarias Estaduais de Saúde de todo o país até as 16h, o número de óbitos aumentou de 114 para 136 em 24h.</p>
    <p class="mp">As mortes estão localizadas nos estados do Amazonas (1), Bahia (1), Ceará (5), Pernambuco (5), Piauí (1), Rio Grande do Norte (1), Rio de Janeiro (17), São Paulo (98), Distrito Federal (1), Goiás (1), Paraná (2), Santa Catarina (1) e Rio Grande do Sul (2).</p>
<h3 class="fonte">fonte: <a href="https://www.saude.gov.br" target="_blamk">saude.gov</a></h3>
<div class="pic">
    <img src="../../../assets/_imagens/covid-tab1.jpg" width="440px" height="410px">
    <h1 class="leg"><em>Tabela de casos</em></h1>
    <h3 class="fontimg">Fonte: <a href="https://g1.globo.com/bemestar/coronavirus/noticia/2020/03/30/brasil-tem-159-mortes-e-4579-casos-confirmados-de-coronavirus-diz-ministerio.ghtml" target="_blamk">G1</a></h3>
</div>
</main>
<app-footer></app-footer>