<footer>
    <ul class="foo-ul">
        <li class="foo-li">&copy; Igor Cinacchi</li><br>
        <li class="foo-li">Contatos:</li>
        <li class="foo-li">+55 (11) 96309-5975</li>
        <li class="foo-li">erickcina.0701@gmail.com</li>
    </ul>
    <div class="foo-link">
        <a href="https://notifica.saude.gov.br/" target="_blank" rel="noopener noreferrer">
            <img class="fimg" src="../../../assets/_imagens/link-casos.jpg" width="200px" height="100px" alt="Notificações de Casos"></a>
    </div>
    <div class="foo-link">
        <a href="https://covid.saude.gov.br/" target="_blank" rel="noopener noreferrer">
            <img class="fimg" src="../../../assets/_imagens/painel.png" width="200px" height="100px" alt="Painel Coronavírus"></a>
    </div>
    <div class="foo-link">
        <a href="https://play.google.com/store/apps/details?id=br.gov.datasus.guardioes&hl=pt_BR" target="_blank" rel="noopener noreferrer">
            <img class="fimg" src="../../../assets/_imagens/app.jpg" width="200px" height="100px" alt="Aplicativos"></a>
    </div>
    <div class="foo-link">
            <img class="fimg" src="../../../assets/_imagens/136.jpg" width="200px" height="100px" alt="disque saúde 136">
    </div>
</footer>